.pencil-icon-container {
  background-color: #f3e13b;
  height: 30px;
  width: 30px;
  position: absolute;
  top: -40px;
  left: -50px;
}

.pencil-icon {
  width: 100%;
  padding-top: 4px;
  padding-left: 1px;
}
