.post-title-input {
  font-size: 40px;
  height: 70px;
  padding-left: 15px;
  width: calc(100% - 15px);
  position: absolute;
  bottom: 60px;
  border: 1px solid #cbcbcb;
  background-color: #f9f9f9;
  font-family: 'Copernicus', serif;
}

.post-title-input-background {
  height: 116px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 40px;
  box-shadow: 26px 0 0 white, -20px 0 0 white;
}
