.live-slug-container {
  position: relative;
  bottom: 30px;
}

.slug-prefix {
  display: inline;
  font-family: 'Futura Book', 'Futura', sans-serif;
  color: #b2b2b2;
  font-size: 14px;
}

.live-slug {
  display: inline;
  font-family: 'Futura Book', 'Futura', sans-serif;
  color: #666666;
  font-size: 14px;
}
